<!--The content below is only a placeholder and can be replaced.-->

<div id="login">
  <div class="card panel row s12 red darken-4">
      <div class="container">
          <h3 class="white-text">Login</h3>
      </div>      
    </div>

  <div class="container">
      <div class="row"></div>
      <div class="row">
      <form class="sample col s12">
        <div class="input-field col s6 offset-s3 center">
          <input type="text" id="username" placeholder="Username">
          <label for="username">Username</label>
        </div>
        <div class="input-field col s6 offset-s3 center">
            <input type="password" id="password" placeholder="Password">
            <label for="password">Password</label>
         </div>
         <div class="col s6 offset-s3">
           <div>
              <a href="#">Login</a>
           </div>          
          
          <div class="col6 offset-s3">
              <a id="signupbtn" href="#">Create Account</a>
            </div>
         </div>
        </div>
      </form>
  </div>
</div>